body {
	padding: 25px;
	background-color: #F8F1E7;
	color: #4A382C;
	font-family: 'Lato', sans-serif;
}
h1{
 color: #4A382C;
	font-family: 'Fredoka', sans-serif;
	
}
h2{
    color: #806653;
	font-family: 'Fredoka', sans-serif;
}
img{
    border-radius: 50px
	
    
}